In [4]:
삼성전자= 50000
총평가금액= 삼성전자*10
print(총평가금액)

500000

In [7]:
시가총액=29800000
현재가 = 50000
PER= 15.79
print(type(시가총액))
print(type(현재가))
print(type(PER))

<class 'int'>
<class 'int'>
<class 'float'>

In [13]:
s = "hello"
t = "python"
print(s+"!",t)

hello! python

In [15]:
a="132"
print(type(a))

<class 'str'>

In [17]:
num_str="720"
print(int(num_str))

720

In [20]:
num=100
str_num=str(num)
print(str_num, type(str_num))

100 <class 'str'>

In [22]:
a="19.75"
a= float(a)
print(a, type(a))

19.75 <class 'float'>

In [24]:
year = "2020"
year=int(year)
print(year-3)
print(year-2)
print(year-1)

2017
2018
2019

In [25]:
price = 48584
month=36
print(price*month)

1749024