In [1]:
print("-"*80)

--------------------------------------------------------------------------------

In [9]:
t1 = 'python'
t2 = 'java'
t3= t1+' '+t2+' '
print(t3*4)

python java python java python java python java

In [4]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [6]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s, 나이: %d" %(name1, age1))
print("이름: %s, 나이: %d" %(name2, age2))

이름: 김민수, 나이: 10
이름: 이철희, 나이: 13

In [8]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print('이름: {}, 나이: {}'.format(name1, age1))
print('이름: {}, 나이: {}'.format(name2, age2))

이름: 김민수, 나이: 10
이름: 이철희, 나이: 13

In [14]:
상장주식수 = "5,969,782,550"
a = 상장주식수.replace(",","")
b= int(a)
print(a, type(a))
print(b, type(b))

5969782550 <class 'str'>
5969782550 <class 'int'>

In [21]:
분기 = "2020/03(E) (IFRS연결)"
index = 분기.find("(")
print(index)
print(분기[:7])

7
2020/03

In [22]:
data = "   삼성전자    "
print(data.strip())

삼성전자