### 1) for문을 활용해 알맞는 조건의 곱셈 식을 출력하시오. (이정빈)
- 출력값 :
```python
3 * 5 = 15
6 * 10 = 60
9 * 15 = 135
12 * 20 = 240
15 * 25 = 375
```

In [1]:
문제1번 = [
  [3,5],
  [6,10],
  [9,15],
  [12,20],
  [15,25]
]

for row in 문제1번:
  print(f"{row[0]} * {row[1]} = {row[0] * row[1]}")

3 * 5 = 15
6 * 10 = 60
9 * 15 = 135
12 * 20 = 240
15 * 25 = 375

In [68]:
y = 5
for x in range(3, 16, 3):
  print(f"{x} * {y} = {x * y}")
  y += 5

3 * 5 = 15
6 * 10 = 60
9 * 15 = 135
12 * 20 = 240
15 * 25 = 375

### 2) for문과 if문을 사용하여 다음과 같은 마름모 모양을 출력하시오. (최수아)
- 출력값 :
```bash
   *
  ***
 *****
  ***
   *
```

In [7]:
빈칸 = "X"
채움칸 = "O"

for y in range(5):
  행 = ""
  for x in range(5):
    if (y == 0 or y == 4) and x == 2:
      행 += 채움칸
    elif (y == 1 or y == 3) and (1 <= x <= 3) :
      행 += 채움칸
    elif y == 2:
      행 += 채움칸
    else:
      행 += 빈칸
  print(행)

XXOXX
XOOOX
OOOOO
XOOOX
XXOXX

### 3) 지뢰 찾기 (안전 지대 확인) O은 안전한 곳, X는 지뢰가 매설된 곳, 지뢰의 위치 좌표[행,열]를 출력하세요. (최윤우)
- 출력값 :
```bash
지뢰가 발견되었습니다. 
위치 > [0,1], [2,0], [2,2]
```

In [9]:
지뢰찾기 = [
  ['O','X','O'],
  ['O','O','O'],
  ['X','O','X']
]

In [18]:
for 행 in range(len(지뢰찾기)):
  for 열 in range(len(지뢰찾기[행])):
    if 지뢰찾기[행][열] == "O":
      print(f"[{행},{열}]")

[0,0]
[0,2]
[1,0]
[1,1]
[1,2]
[2,1]

### 4) for문을 이용하여 아래와 같은 트리 모양을 출력하시오. (최영윤)
- 출력값 :
```bash
    *
   ***
  *****
    |
```

In [19]:
tree = [
  [' ',' ','*',' ',' '],
  [' ','*','*','*',' '],
  ['*','*','*','*','*'],
  [' ',' ','|',' ',' ']
]

In [50]:
for 값 in tree:
  print(*값)

    *
  * * *
* * * * *
    |

### 5) for문을 이용해 파스칼의 삼각형을 5단까지 출력하시오. (이정빈)
- 출력값 :
```bash
     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1
```

In [51]:
단수 = 5
삼각형 = []

for i in range(단수):
  행 = [" "] * (단수 * 2 - 1)
  for j in range(i + 1):
    if j == 0 or j == i:
      값 = 1
    else:
      값 = (삼각형[i - 1][단수 - i + 2*j - 2]) + (삼각형[i - 1][단수 - i + 2*j])

    행[단수 - 1 - i + (2 * j)] = 값

  삼각형.append(행)

for 값 in 삼각형:
  print(*값)

        1
      1   1
    1   2   1
  1   3   3   1
1   4   6   4   1

### 6) 다음 배열의 각 행 별 합계를 구하시오. (김지환)
- 출력값 :
```bash
26
16 
19
```

In [53]:
arr1 = [
  [9,4,6,7],
  [1,3,7,5],
  [5,8,2,4],
]

In [54]:
for 행 in arr1:
  합 = 0
  for 열 in 행:
    합 += 열
  print(합)

26
16
19

### 7) 다음 배열에서 각 행의 최대값을 구하시오. (김지환)
- 출력값 :
```bash
96
74
103
131
```

In [55]:
arr2 = [
  [96,42,61,75],
  [13,32,74,55],
  [58,88,26,103],
  [24,51,124,131]
]

In [57]:
for 행 in arr2:
  대상 = 행[0]
  for 열 in range(1, len(행)):
    if 대상 < 행[열]: 대상 = 행[열]
  print(대상)

96
74
103
131

### 8) 문자 F의 인덱스값을 찾으시오. (최가영)
- 출력값 :
```bash
인덱스 값 : (1,2)
```

In [59]:
arr3 = [
  ['A','B','C'],
  ['D','E','F'],
  ['G','H','I']
]

In [60]:
for 행 in range(len(arr3)):
  for 열 in range(len(arr3[행])):
    if arr3[행][열] == "F": 
      print(f"({행},{열})")

(1,2)

### 9) 2차원 배열을 이용하여 2, 4번째 열의 합의 값을 구하시오. (남영준)
- 출력값 :
```bash
2번째 열의 합 : (2 + 6 + 10) > 18
4번째 열의 합 : (4 + 8 + 12) > 24
최종 합 : 42
```

In [61]:
arr4 = [
  [1,2,3,4],
  [5,6,7,8],
  [9,10,11,12]
]

In [64]:
열2합 = 0
열4합 = 0
for 행 in range(len(arr4)):
  for 열 in range(1, 4, 2):
    if 열 == 1: 열2합 += arr4[행][열] 
    if 열 == 3: 열4합 += arr4[행][열] 

print(f"2번째 열의 합 : {열2합}")
print(f"4번째 열의 합 : {열4합}")
print(f"종합 : {열2합 + 열4합}")

2번째 열의 합 : 18
4번째 열의 합 : 24
종합 : 42

### 10) 배열의 값을 이용하여 출석 체크 수를 구하시오. (장태원)
- 출력값 :
```bash
전체 출석 수 : 14
```

In [65]:
arr5 = [
  [1,0,1,1,0,1],
  [1,1,1,1,1,1],
  [0,1,1,1,0,1]
]

In [66]:
출석 = 0
for 행 in arr5:
  for 열 in 행:
    출석 += 열
print(f"전체 출석 수 : {출석}")

전체 출석 수 : 14