### 1) for문을 활용해 알맞는 조건의 곱셈 식을 출력하시오. (이정빈)
- 출력값 :
```python
3 * 5 = 15
6 * 10 = 60
9 * 15 = 135
12 * 20 = 240
15 * 25 = 375
```

### 2) for문과 if문을 사용하여 다음과 같은 마름모 모양을 출력하시오. (최수아)
- 출력값 :
```bash
   *
  ***
 *****
  ***
   *
```

### 3) 지뢰 찾기 (안전 지대 확인) O은 안전한 곳, X는 지뢰가 매설된 곳, 지뢰의 위치 좌표[행,열]를 출력하세요. (최윤우)
- 출력값 :
```bash
지뢰가 발견되었습니다. 
위치 > [0,1], [2,0], [2,2]
```

In [ ]:
지뢰찾기 = [
  ['O','X','O'],
  ['O','O','O'],
  ['X','O','X']
]

### 4) for문을 이용하여 아래와 같은 트리 모양을 출력하시오. (최영윤)
- 출력값 :
```bash
    *
   ***
  *****
    |
```

In [ ]:
tree = [
  [' ',' ','*',' ',' '],
  [' ','*','*','*',' '],
  ['*','*','*','*','*'],
  [' ',' ','|',' ',' ']
]

### 5) for문을 이용해 파스칼의 삼각형을 5단까지 출력하시오. (이정빈)
- 출력값 :
```bash
     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1
```

### 6) 다음 배열의 각 행 별 합계를 구하시오. (김지환)
- 출력값 :
```bash
26
16 
19
```

In [ ]:
arr1 = [
  [9,4,6,7],
  [1,3,7,5],
  [5,8,2,4],
]

### 7) 다음 배열에서 각 행의 최대값을 구하시오. (김지환)
- 출력값 :
```bash
96
74
103
131
```

In [ ]:
arr2 = [
  [96,42,61,75],
  [13,32,74,55],
  [58,88,26,103],
  [24,51,124,131]
]

### 8) 문자 F의 인덱스값을 찾으시오. (최가영)
- 출력값 :
```bash
인덱스 값 : (1,2)
```

In [ ]:
arr3 = [
  ['A','B','C'],
  ['D','E','F'],
  ['G','H','I']
]

### 9) 2차원 배열을 이용하여 2, 4번째 열의 합의 값을 구하시오. (남영준)
- 출력값 :
```bash
2번째 열의 합 : (2 + 6 + 10) > 18
4번째 열의 합 : (4 + 8 + 12) > 24
최종 합 : 42
```

In [ ]:
arr4 = [
  [1,2,3,4],
  [5,6,7,8],
  [9,10,11,12]
]

### 10) 배열의 값을 이용하여 출석 체크 수를 구하시오. (장태원)
- 출력값 :
```bash
전체 출석 수 : 14
```

In [ ]:
arr5 = [
  [1,0,1,1,0,1],
  [1,1,1,1,1,1],
  [0,1,1,1,0,1]
]